<footer>
  <div class="footer-top">
    <div class="footer-logo-left">
      <%= image_tag "logos/logo_blanc.svg", height: 24 %>
    </div>
    <div class="footer-content">
      <div class="footer-content-woonies">
        <h2>Woonies</h2>
        <ul>
          <li><%= link_to "À propos", pages_about_path %></li>
          <li><%= link_to "Contact", pages_contact_path %></li>
        </ul>
      </div>
      <div class="footer-content-ressources">
        <h2>Ressources</h2>
        <ul>
          <li><%= link_to "Guide des modes de garde", pages_guide_path %></li>
          <li><%= link_to "Le blog Woonies", root_path %></li>
        </ul>
      </div>
    </div>
    <div class="footer-logo-right">
      <%= image_tag "animals/poussin_blanc.svg", height: 53 %>
      <%= image_tag "animals/poussin_blanc.svg", height: 53 %>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="copyrights">
      <p>Copyright © 2018 Woonies. Tous droits réservés.</p>
    </div>
    <div class="links">
      <div class="internal-links">
        <ul>
          <li><%= link_to "Utilisation des cookies", root_path %></li>
          <li><%= link_to "Conditions d'utilisation", pages_CGU_path %></li>
          <li><%= link_to "Mentions légales", pages_legals_path %></li>
        </ul>
      </div>
      <div class="external-links">
        <ul>
          <li>
            <%= link_to("https://www.facebook.com/Woonies/", target: "_blank") do %>
              <%= image_tag "social_networks/Facebook.svg", height: 24 %>
            <% end %>
          </li>
          <li>
            <%= link_to("https://www.linkedin.com/company/woonies/", target: "_blank") do %>
              <%= image_tag "social_networks/LinkedIn.svg", height: 24 %>
            <% end %>
          </li>
          <li style="display: none">
            <%= link_to("/", target: "_blank") do %>
              <%= image_tag "social_networks/Twitter.svg", height: 24 %>
            <% end %>          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
