<div class="navbarseethrough in-about">
  <%= link_to root_path do %>
    <%= image_tag "logo-pink-black.svg", height: 47 %>
  <% end %>
</div>

<section id="about-section">
  <div class="history">
    <div>
      <h1>Notre histoire</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe incidunt distinctio debitis eligendi vel placeat suscipit, harum soluta. Magni deleniti quidem quos voluptatum, facilis dicta quam veritatis voluptatem cum iusto?</p>
    </div>
  </div>
  <div align="right" class="mission">
    <div>
      <h1>Notre mission</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe fuga assumenda voluptatum fugit praesentium consequuntur error quas velit aspernatur consectetur voluptatem, provident et nihil temporibus. Velit cumque aperiam, reprehenderit iusto.</p>
    </div>
  </div>
  <div class="values">
    <h1>Nos valeurs</h1>
    <div class="values-wrapper">
      <div>
        <%= image_tag "innovation.svg", height: 56 %>
        <h3>Innovation</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptate quo error labore aliquam perferendis nihil, quis sed aspernatur sequi beatae, eius qui corrupti blanditiis unde sit vel. Aut, ipsum!</p>
      </div>
      <div>
        <%= image_tag "ambition.svg", height: 56 %>
        <h3>Ambition</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat eligendi illum veniam id iusto quibusdam obcaecati doloribus dolor consequatur nisi, iste mollitia quos commodi maxime saepe itaque cum iure inventore.</p>
      </div>
      <div>
        <%= image_tag "engagement.svg", height: 56 %>
        <h3>Engagement</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi minima officiis expedita qui, repudiandae dolore blanditiis, libero ratione cumque laudantium accusamus itaque. Velit dicta reprehenderit expedita deleniti minus facilis non.</p>
      </div>
      <div>
        <%= image_tag "access.svg", height: 56 %>
        <h3>Accessibilité</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eius esse quas itaque minima obcaecati dolores voluptates quia quam inventore! Laborum asperiores, eveniet non animi aut consequatur at iusto quas.</p>
      </div>
      <div>
        <%= image_tag "transparency.svg", height: 56 %>
        <h3>Transparence</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda optio odit at sapiente ducimus beatae quo sequi facilis deleniti, provident sunt impedit dolor, porro illo quos debitis! Ipsa, omnis perspiciatis.</p>
      </div>
    </div>
  </div>
  <div>
    <h1>Les fondateurs</h1>
    <div>
      <div><%= image_tag "camille.svg", height: 211 %></div>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem tempora aliquid, ipsa quia natus minus eos earum soluta, vitae eveniet? Et quod, quo unde sed architecto voluptates eum nam autem.</div>
    </div>
    <div>
      <div><%= image_tag "melanie.svg", height: 211 %></div>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis asperiores facere, sit eum amet quo necessitatibus iure pariatur quibusdam, quas molestias natus non perferendis facilis deserunt atque provident nam quae!</div>
    </div>
    <div> Les deux jeunes femmes aux tempéraments complémentaires, rêvent alors d’apporter un nouveau souffle au secteur de la petite enfance et de porter un projet à réel impact : Woonies voit ainsi le jour !</div>
  </div>
  <div>
    <div></div>
  </div>
</section>
