<div class="navbarseethrough in-about">
  <%= link_to root_path do %>
    <%= image_tag "logo-pink-black.svg", height: 47 %>
  <% end %>
</div>

<section id="about-section">
  <div class="history">
    <div>
      <h1>Notre <span class="linepink">histoire</span></h1>
      <p class="light">Évoluant toutes les deux dans l’univers de la petite enfance, Mélanie et Camille font alors un constat : pour les parents, trouver un mode de garde relève souvent du parcours du combattant alors que de nombreuses places sont disponibles chaque jour chez les professionnels.
      Elles sont alors convaincues de la nécessité d’un nouvel outil, qui permettrait de simplifier le quotidien des familles comme celui des professionnels, en rendant accessibles tous les modes de garde et ce, peu importe le lieu d’habitation ou la situation de la famille. </p>
    </div>
  </div>
  <div align="right" class="mission">
    <div>
      <h1>Notre <span class="linepink">mission</span></h1>
      <p class="light">Notre objectif apparaît alors clairement : faciliter le quotidien des parents comme celui des professionnels, en rendant simple et accessible le service de garde d’enfants. 
      Woonies permet ainsi : <br>
      - d’offrir une expérience simplifiée aux parents, pour trouver le mode d’accueil qui correspond parfaitement aux besoins de leur enfant et au rythme de leur famille ;
      - tout en proposant un outil de planification performant aux professionnels, adapté à leur métier et leurs contraintes, pour mieux gérer leurs places disponibles.<br><br>
      <strong>Notre mission :</strong> innover pour le secteur de la petite enfance dans l’intérêt des parents, des professionnels, mais surtout des enfants !</p>
    </div>
  </div>
  <div class="values">
    <h1>Nos <span class="linewhite">valeurs</span></h1>
    <div class="values-wrapper">
      <div>
        <%= image_tag "pages-about/innovation.svg", height: 56 %>
        <h4>Innovation</h4>
        <p class="light">Proposer une nouvelle expérience, de nouveaux services et continuer d’innover est notre mission principale !</p>
      </div>
      <div>
        <%= image_tag "pages-about/ambition.svg", height: 56 %>
        <h4>Ambition</h4>
        <p class="light">Ayant conscience de l'évolution des besoins des parents comme de ceux des professionnels, Woonies change les usages et apporte un nouveau souffle au secteur.</p>
      </div>
      <div>
        <%= image_tag "pages-about/engagement.svg", height: 56 %>
        <h4>Engagement</h4>
        <p class="light">Nos utilisateurs sont au cœur de nos décisions, nous construisons ensemble un service qui leur ressemble.</p>
      </div>
      <div>
        <%= image_tag "pages-about/access.svg", height: 56 %>
        <h4>Accessibilité</h4>
        <p class="light">Grâce à une plateforme intuitive, nous transformons une situation complexe en expérience simple et ludique.</p>
      </div>
      <div>
        <%= image_tag "pages-about/transparency.svg", height: 56 %>
        <h4>Transparence</h4>
        <p class="light">Nous offrons une transparence et nous facilitons la mise en relation des parents et des professionnels.</p>
      </div>
    </div>
  </div>
  <div class="founders">
    <h1>Les <span class="linepink">fondateurs</span></h1>
    <div class="flex-right">
      <div class="founders-avatar"><%= image_tag "pages-about/camille.png", height: 211 %></div>
      <div class="founders-content">
        <div>
          <h4>Camille</h4>
          <p class="light">Avec une mère infirmière-puéricultrice et directrice de crèche, Camille a baigné dans l’univers de la petite enfance. C’est donc tout naturellement qu’après ses études, elle se dirige vers ce secteur et travaille près de 4 ans chez l’un des leaders des crèches privées. Elle rencontre alors Mélanie, avec qui elle noue une solide amitié. </p>
        </div>
      </div>
    </div>
    <div class="flex-left">
      <div class="founders-avatar"><%= image_tag "pages-about/melanie.svg", height: 211 %></div>
      <div class="founders-content">
        <div>
          <h4>Mélanie</h4>
          <p class="light">Profil dynamique et touche à tout, Mélanie évolue dans les univers à forte valeur ajoutée. Elle travaillera chez un acteur phare du digital, puis dans le secteur médical, pour enfin découvrir l’univers de la petite enfance. Un secteur dans lequel elle s’épanouie pleinement et pour lequel elle aura un coup de coeur.</p>
        </div>
      </div>
    </div>
    <div class="catch-phrase semibold"> Les deux jeunes femmes aux tempéraments complémentaires, rêvent alors d’apporter un nouveau souffle au secteur de la petite enfance et de porter un projet à réel impact : Woonies voit ainsi le jour !</div>
  </div>
  <div class="about-bottom">
    <div><%= image_tag "pages-about/about-card.svg", height: 258 %></div>
  </div>
</section>
