<div class="navbarseethrough">
	<%= link_to root_path do %>
	  <%= image_tag "logos/logo_std.svg", id: 'homelogo' %>
	<% end %>
</div>

<div id="homegrid">
	<div id="section1A" class="bgpink">
		<div class="content">
			<h3 class="semibold"><div class="linepink">Professionnels</div></h3>
			<h2>Pré-inscrivez-vous !</h2>
			<p class="light">Vous pourrez ainsi <span class="semibold">créer votre profil professionel en avant première</span> et être les premiers alertés du lancement !</p>
			<form class="form-inline-bw" action="/add_to_list" method="POST">
				<label for="email" hidden></label>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="type" value="pro">
				<input type="email" placeholder="Adresse e-mail" name="email">
				<button>
					<div class="spacearoundflex" type='submit'>valider <%= image_tag "others/arrow_right_white.svg"%></div>
				</button>
			</form>
		</div>
	</div>

	<div id="section1B" class="bgblack">
		<div class="content">
			<h3 class="semibold white"><div class="linegreen">Parents</div></h3>
			<h2 class="white">Bientôt disponible …</h2>
			<p class="light white">Indiquez votre adresse e-mail et recevez <span class="semibold white">gratuitement notre guide complet des modes de garde ! </span></p>
			<form class="form-inline-bw" action="/add_to_list" method="POST">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="type" value="parent">
        <label for="email" hidden></label>
				<input type="email" placeholder="Adresse e-mail" name="email">
				<button>
					<div class="spacearoundflex">valider <%= image_tag "others/arrow_right_white.svg"%></div>
				</button>
			</form>
			<div id="subsection1B">
				<%= image_tag "pictures/guide_garde.png" %>
				<div class="content">
					<p class="white">Percez les secrets des modes de garde : découvrez notre blog !</p>
					<a href="http://blog.woonies.com/" target='blank'>blog.woonies.com</a>
				</div>
			</div>
		</div>
	</div>

	<div id="section2A">
		<div class="content">
			<%= image_tag "others/miniature_1.svg" %>
		</div>
	</div>
	<div id="section2B">
			<h2>Avec Woonies trouver son mode de garde devient un vrai <span class="linepink">jeu d’enfant !</span></h2>
			<p>Grâce à Woonies, vous pouvez désormais <span class="semibold">visualiser les places disponibles des professionnels qui vous entourent !</span></p>
			<p>Avec sa recherche avancée autour d’une adresse, en fonction de dates et horaires et de l’âge de votre enfant, Woonies vous permet de trouver facilement <span class="semibold">un mode de garde agréé, pour de l’accueil régulier ou occasionnel</span>, qui correspond parfaitement à vos besoins.</p>
	</div>
  <div id="section3A">
  </div>
	<div id="section3B">
		<%= image_tag "others/round_yellow.svg" %>
		<p class="semibold">Géolocalisation</p>
		<p class="lightgray">Concentrez vos recherches autour d’un point qui correspond à vos besoins.</p>
	</div>
	<div id="section3C">
		<%= image_tag "others/round_blue.svg" %>
		<p class="semibold">Disponibilités</p>
		<p class="lightgray">Réservez à n’importe quel moment, 24h/24 et 7j/7.</p>
	</div>
	<div id="section3D">
		<%= image_tag "others/heart.svg" %>
		<p class="semibold">Pouvoir comparer</p>
		<p class="lightgray">Visualisez en un clin d’oeil tous les modes de garde disponibles.</p>
	</div>
	<div id="section4" class="bgblack textcenter">
		<h3 class="white">Woonies : un service entièrement gratuit pour les parents !</h3>
	</div>
	<div id="section5A">
		<h2>Recherchez un <span class="linewhite">professionnel agréé</span></h2>
		<p><span class="semibold">Sur Woonies vous trouverez :</span> les crèches municipales, associatives, privées, parentales, les micro-crèches et les assistantes maternelles.</p>
	</div>
	<div id="section5B">
    <%= image_tag "animals/canard_blanc.svg", class: 'canard' %>
  </div>
  <div id="section6A">
    <%= image_tag "animals/coq.svg", class: 'coq' %>
    <%= image_tag "stickers/gommette_7.svg", class: 'gommette' %>
  </div>
	<div id="section6B">
		<div class="content">
			<h2>Une solution pour de l’<span class="linepink">accueil régulier</span></h2>
			<div class="flex">
				<%= image_tag "others/pinkarrowli.svg", height: 23 %>
				<p>Vous reprenez bientôt le travail et recherchez désespérément un mode de garde en cours d’année ?</p>
			</div>
			<div class="flex">
				<%= image_tag "others/pinkarrowli.svg", height: 23 %>
				<p>Vous ne savez pas où chercher et à défaut de trouver rapidement, vous allez devoir demander un mi-temps ou faire du télétravail ?</p>
			</div>
			<p>Woonies rend ainsi le pouvoir aux parents : <span class="semibold">le pouvoir de visualiser, comprendre et choisir son mode de garde régulier en quelques minutes, à n’importe quel moment de l’année.</span></p>
		</div>
	</div>
	<div id="section7A" class="bgyellow">
		<div class="content">
			<h2>Comme pour de <br>l’<span class="linewhite">accueil occasionnel</span></h2>
			<div class="flex">
				<%= image_tag "others/whitearrowli.svg", height: 23 %>
				<p>Votre nounou est malade ou indisponible car ses congés ne collent pas avec les vôtres ?</p>
			</div>
			<div class="flex">
				<%= image_tag "others/whitearrowli.svg", height: 23 %>
				<p>Votre crèche ferme pendant les vacances ?</p>
			</div>
			<div class="flex">
				<%= image_tag "others/whitearrowli.svg", height: 23 %>
				<p>Ou peut-être simplement, envie de sociabiliser votre enfant avant son entrée à l’école maternelle ?</p>
			</div>
			<p>Woonies répond à toutes ces problématiques de garde pour ½ journée, 1 semaine, 3 mois ou plus et <span class="semibold">vous permet ainsi de trouver rapidement une solution d’accueil occasionnel.</span></p>
		</div>
	</div>
	<div id="section7B">
    <%= image_tag "animals/poussin_left.svg", class: 'poussin' %>
    <%= image_tag "stickers/gommette_8.svg", class: 'gommette' %>
	</div>
	<div id="section8" class="bgblue">
      <%= image_tag "others/home_sec_8.svg", class: 'cadre' %>
      <%= image_tag "stickers/gommette_9", class: 'gommette' %>
      <%= image_tag "others/ensemble_6", class: 'ensemble' %>
      <%= image_tag "others/double_sapin_yb.svg", class: 'sapins' %>
	</div>
</div>
<script>
  function showCookie() {
    setTimeout(function(){document.querySelector('#cookies-popUp').classList.remove('hide-popUp')}, 2000);
  }
</script>
