<div class="navbarseethrough">
	<%= link_to root_path do %>
	  <%= image_tag "logo.png", height: 43 %>
	<% end %>
</div>

<div id="homegrid">
	<div id="section1A">
		<h1 class="TargetTitle">Professionnels</h1>
		<h2>Pré-inscrivez-vous !</h2>
		<p>Vous pourrez ainsi <strong>créer votre profil professionel en avant première</strong> et être les premiers alertés du lancement !</p>
		<form action="#">
			<input type="email" placeholder="Votre email">
			<button>
				<div id="presub1A">
					valider <i class="fas fa-arrow-right"></i>
				</div>
			</button>
		</form>
	</div>
	<div id="section1B">
		<h1 class="TargetTitle">Parents</h1>
		<h2>Bientôt disponible...</h2>
		<p>Indiquez votre adresse e-mail et recevez <strong>gratuitement notre guide complet des modes de garde !</strong></p>
		<form action="#">
			<input type="email" placeholder="Votre email">
			<button>
				<div id="presub1A">
					valider <i class="fas fa-arrow-right"></i>
				</div>
			</button>
		</form>
		<div class="flex" >
			<%= image_tag "guide_garde.png", height: 43 %>
			<div>
				<p>Percez les secrets des modes de garde : découvrez notre blog !</p>
				<a href="#">blog.woonies.com</a>
			</div>
		</div>
	</div>
	<div id="section2A">
		<div id="miniature"></div>
	</div>
	<div id="section2B">
			<h1>Avec Woonies trouver son mode de garde devient un vrai jeu d’enfant !</h1>
			<p>Grâce à Woonies, vous pouvez désormais visualiser les places disponibles des professionnels qui vous entourent !Avec sa recherche avancée autour d’une adresse, en fonction de dates et horaires et de l’âge de votre enfant, Woonies vous permet de trouver facilement un mode de garde agréé, pour de l’accueil régulier ou occasionnel, qui correspond parfaitement à vos besoins.</p>
	</div>
	<div id="section3A">
		<%= image_tag "round_yellow.svg" %>
		<h1>Géolocalisation</h1>
		<p>Concentrez vos recherches autour d’un point qui correspond à vos besoins.</p>
	</div>
	<div id="section3B">
		<%= image_tag "round_blue.svg" %>
		<h1>Disponibilités</h1>
		<p>Réservez à n’importe quel moment, 24h/24 et 7j/7.</p>
	</div>
	<div id="section3C">
		<%= image_tag "heart.svg" %>
		<h1>Pouvoir comparer</h1>
		<p>Visualisez en un clin d’oeil tous les modes de garde disponibles.</p>
	</div>
	<div id="section4">
		<h1>Woonies : un service entièrement gratuit pour les parents !</h1>
	</div>
	<div id="section5A">
		<h1>Recherchez un professionnel agréé</h1>
		<p>Sur Woonies vous trouverez : les crèches municipales, associatives, privées, parentales, les micro-crèches et les assistantes maternelles.</p>
	</div>
	<div id="section5B">
		
	</div>
	<div id="section6">
		<h1>Une solution pour de l’accueil régulier</h1>
		<ul>
			<li>Vous reprenez bientôt le travail et recherchez désespérément un mode de garde en cours d’année ?</li>
			<li>Vous ne savez pas où chercher et à défaut de trouver rapidement, vous allez devoir demander un mi-temps ou faire du télétravail ?</li>
		</ul>
		<p>Woonies rend ainsi le pouvoir aux parents : <strong>le pouvoir de visualiser, comprendre et choisir son mode de garde régulier en quelques minutes, à n’importe quel moment de l’année.</strong></p>
	</div>
	<div id="section7A">
		<h1>Comme pour de l’accueil occasionnel</h1>
		<ul>
			<li>Votre nounou est malade ou indisponible car ses congés ne collent pas avec les vôtres ?</li>
			<li>Votre crèche ferme pendant les vacances ?</li>
			<li>Ou peut-être simplement, envie de sociabiliser votre enfant avant son entrée à l’école maternelle ?</li>
		</ul>
		<p>Woonies répond à toutes ces problématiques de garde pour ½ journée, 1 semaine, 3 mois ou plus et <strong>vous permet ainsi de trouver rapidement une solution d’accueil occasionnel.</strong></p>
	</div>
	<div id="section7B">
	</div>
	<div id="section8">
		<div class="encadre">
			<p>Woonies, une plateforme engagée à vos côtés, dans l’intérêt des enfants.</p>
		</div>
	</div>
</div>
