<div class="navbarseethrough">
	<%= link_to root_path do %>
	  <%= image_tag "logo.png", height: 43, id: 'homelogo' %>
	<% end %>
</div>

<div id="homegrid">
	<div id="section1A" class="bgpink">
		<div class="content">
			<h3 class="semibold"><div class="linepink">Professionnels</div></h3>
			<h2>Pré-inscrivez-vous !</h2>
			<p class="light">Vous pourrez ainsi <span class="semibold">créer votre profil professionel en avant première</span> et être les premiers alertés du lancement !</p>
			<form class="form-inline-bw" action="#">
				<label for="email" hidden></label>
				<input type="email" placeholder="Adresse e-mail" name="email">
				<button>
					<div class="spacearoundflex">valider <%= image_tag "arrow-right.svg"%></div>
				</button>
			</form>
		</div>
	</div>

	<div id="section1B" class="bgblack">
		<div class="content">
			<h3 class="semibold white"><div class="linegreen">Parents</div></h3>
			<h2 class="white">Bientôt disponible …</h2>
			<p class="light white">Indiquez votre adresse e-mail et recevez <span class="semibold white">gratuitement notre guide complet des modes de garde ! </span></p>
			<form class="form-inline-bw" action="#">
				<label for="email" hidden></label>
				<input type="email" placeholder="Adresse e-mail" name="email">
				<button>
					<div class="spacearoundflex">valider <%= image_tag "arrow-right.svg"%></div>
				</button>
			</form>
			<div id="subsection1B">
				<%= image_tag "guide_garde.png", height: 122 %>
				<div>
					<p class="white">Percez les secrets des modes de <br> garde : découvrez notre blog !</p>
					<a href="#">blog.woonies.com</a>
				</div>
			</div>
		</div>
	</div>

	<div id="section2A">
		<div id="miniature"></div>
	</div>
	<div id="section2B">
			<h1>Avec Woonies trouver son mode de garde devient un vrai jeu d’enfant !</h1>
			<p>Grâce à Woonies, vous pouvez désormais visualiser les places disponibles des professionnels qui vous entourent !Avec sa recherche avancée autour d’une adresse, en fonction de dates et horaires et de l’âge de votre enfant, Woonies vous permet de trouver facilement un mode de garde agréé, pour de l’accueil régulier ou occasionnel, qui correspond parfaitement à vos besoins.</p>
	</div>
	<div id="section3A">
		<%= image_tag "round_yellow.svg" %>
		<h1>Géolocalisation</h1>
		<p>Concentrez vos recherches autour d’un point qui correspond à vos besoins.</p>
	</div>
	<div id="section3B">
		<%= image_tag "round_blue.svg" %>
		<h1>Disponibilités</h1>
		<p>Réservez à n’importe quel moment, 24h/24 et 7j/7.</p>
	</div>
	<div id="section3C">
		<%= image_tag "heart.svg" %>
		<h1>Pouvoir comparer</h1>
		<p>Visualisez en un clin d’oeil tous les modes de garde disponibles.</p>
	</div>
	<div id="section4">
		<h1>Woonies : un service entièrement gratuit pour les parents !</h1>
	</div>
	<div id="section5A">
		<h1>Recherchez un professionnel agréé</h1>
		<p>Sur Woonies vous trouverez : les crèches municipales, associatives, privées, parentales, les micro-crèches et les assistantes maternelles.</p>
	</div>
	<div id="section5B">
		
	</div>
	<div id="section6">
		<h1>Une solution pour de l’accueil régulier</h1>
		<ul>
			<li>Vous reprenez bientôt le travail et recherchez désespérément un mode de garde en cours d’année ?</li>
			<li>Vous ne savez pas où chercher et à défaut de trouver rapidement, vous allez devoir demander un mi-temps ou faire du télétravail ?</li>
		</ul>
		<p>Woonies rend ainsi le pouvoir aux parents : <strong>le pouvoir de visualiser, comprendre et choisir son mode de garde régulier en quelques minutes, à n’importe quel moment de l’année.</strong></p>
	</div>
	<div id="section7A">
		<h1>Comme pour de l’accueil occasionnel</h1>
		<ul>
			<li>Votre nounou est malade ou indisponible car ses congés ne collent pas avec les vôtres ?</li>
			<li>Votre crèche ferme pendant les vacances ?</li>
			<li>Ou peut-être simplement, envie de sociabiliser votre enfant avant son entrée à l’école maternelle ?</li>
		</ul>
		<p>Woonies répond à toutes ces problématiques de garde pour ½ journée, 1 semaine, 3 mois ou plus et <strong>vous permet ainsi de trouver rapidement une solution d’accueil occasionnel.</strong></p>
	</div>
	<div id="section7B">
	</div>
	<div id="section8">
		<div class="encadre">
			<p>Woonies, une plateforme engagée à vos côtés, dans l’intérêt des enfants.</p>
		</div>
	</div>
</div>
